.psu-deep-blue {
    color: rgb(0, 60, 113);
}

.psu-deep-blue.button,
.psu-deep-blue.buttons .button {
    background-color: rgb(0, 60, 113);
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.psu-deep-blue.button:hover,
.psu-deep-blue.buttons .button:hover {
    background-color: rgb(0, 71, 125);
    color: #fff
}

.psu-sky-blue {
    color: rgb(0, 156, 222);
}

.psu-sky-blue.button,
.psu-sky-blue.buttons .button {
    background-color: rgb(0, 156, 222);
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.psu-sky-blue.button:hover,
.psu-sky-blue.buttons .button:hover {
    background-color: rgb(0, 156, 222);
    color: #fff
}

.psu-ocean-blue {
    color: rgb(58, 93, 174);
}

.psu-ocean-blue.button,
.psu-ocean-blue.buttons .button {
    background-color: rgb(58, 93, 174);
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.psu-ocean-blue.button:hover,
.psu-ocean-blue.buttons .button:hover {
    background-color: rgb(58, 93, 174);
    color: #fff
}

.psu-andaman-blue {
    color: rgb(0, 133, 173);
}

.psu-andaman-blue.button,
.psu-andaman-blue.buttons .button {
    background-color: rgb(0, 133, 173);
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.psu-andaman-blue.button:hover,
.psu-andaman-blue.buttons .button:hover {
    background-color: rgb(0, 133, 173);
    color: #fff
}

.psu-river-blue {
    color: rgb(89, 203, 232);
}

.psu-river-blue.button,
.psu-river-blue.buttons .button {
    background-color: rgb(89, 203, 232);
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.psu-river-blue.button:hover,
.psu-river-blue.buttons .button:hover {
    background-color: rgb(89, 203, 232);
    color: #fff
}

.psu-sritrang-blue {
    color: rgb(182, 184, 220);
}

.psu-sritrang-blue.button,
.psu-sritrang-blue.buttons .button {
    background-color: rgb(182, 184, 220);
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.psu-sritrang-blue.button:hover,
.psu-sritrang-blue.buttons .button:hover {
    background-color: rgb(182, 184, 220);
    color: #fff
}