{% extends '/accounts/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
  {{ current_user.title }} {{ current_user.first_name }} {{ current_user.last_name }}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<div class="active section">Edit Profile</div>
{% endblock %}

{% block content %}
<div class="ui content">
  <div class="ui segment">
    <h2>Profile</h2>
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="three fields">
        {{ renderer.render_field(form.title) }}
        {{ renderer.render_field(form.first_name) }}
        {{ renderer.render_field(form.last_name) }}
      </div>
      <div class="three fields">
        {{ renderer.render_field(form.title_th) }}
        {{ renderer.render_field(form.first_name_th) }}
        {{ renderer.render_field(form.last_name_th) }}
      </div>
      <div class="two fields">
        {{ renderer.render_field(form.email) }}
        {{ renderer.render_fileinput(form.pic) }}
      </div>
      <div class="two fields">
        {{ renderer.render_field(form.citizen_id) }}
        {{ renderer.render_field(form.other_ids) }}
      </div>
      {{ renderer.render_field(form.biography) }}
      <a onclick="$('.modal.edit').modal('show')" class="ui primary icon button">
      Change
      </a>

      <div class="ui small modal edit">
        <div class="header">Edit Profile</div>
        <div class="content">
          <h4 class="ui headers" >
            Are you sure you want to edit <span class="ui primary text">{{ current_user.first_name }} {{ current_user.last_name }}</span> profile?
          </h4>
          <button class="ui right floated primary button" onclick="$('.ui.form').submit()" style="margin-bottom: 1em;">
            Edit
          </button>
          <button class="ui right floated button" onclick="$('.modal.edit').modal('hide')">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock content %}

{% block additional_js %}
    <script type="text/javascript">
      $(".attach-file-pic").click(function() {
        $(this).parent().find("#pic").click();
      });

      $('#pic')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('.attach-file-pic', $(e.target).parent()).val(name);
      });
    </script>

{% endblock additional_js %}
