{% if current_user.is_authenticated %}
  {% extends '/base/default-dashboard.html' %}
{% else %}
  {% extends '/base/default-page.html' %}
{% endif %}

{% block dashboard_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('accounts.index') }}" class="section">Accounts</a>
{% endblock %}

{% block title %}
  {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
<div class="ui container"> {# start div container #} 
  <div class="ui segment">
    <h2 class="ui header">Profile
      {% if current_user.is_authenticated and current_user.id == user.id %}
        <a class="btn-floating btn-large waves-effect waves-light" href="{{ url_for('accounts.edit_profile') }}" title='Edit profile.'><i class="edit icon"></i></a>
      {% endif %}
    </h2>
    <div class="ui grid">

      <div class="four wide column center aligned">
        <div class="ui small image">
          <img src="{{ user.get_picture() }}">
        </div>
      </div>

      <div class="twelve wide column">
        <div>
          <h3 class="ui header">{{ user.first_name }} {{ user.last_name }}<br>
          {{ user.first_name_th if user.first_name_th else "" }} {{ user.last_name_th if user.last_name_th else ""}}<br>
          {{ user.user_setting.organization.name if user.user_setting.organization else "" }}</h3>
          Email:
          <div class="ui label large">
            <i class="mail icon"></i>
            {{ user.email }} 
          </div>
          <div style="margin-top: .5vh;">
          {% if current_user.is_authenticated and current_user.id == user.id %}
            Role: 
            {% for role in user.roles %}
              <div class="ui label">
                {{ role }}
              </div>
            {% endfor %}
          {% endif %}
          </div>
        </div>
        <div style="margin-top: 2vh;">

        </div>
      </div>
    </div>
  </div>

  {% if 'endorser' in current_user.roles %}
  <div class="ui segment">
    <a class="ui primary icon button" href="{{ url_for('accounts.add_or_edit_signature', user_id=current_user.id) }}"><i class="signature icon"></i> Add Signature</a>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Date</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for signature in user.get_signatures() %}
        <tr>
          <td>{{ signature.file.filename }}</td>
          <td>{{ signature.created_date }}</td>
          <td>{{ signature.status }}</td>
          <td> 
            <a class="ui circular button primary icon" href="{{ url_for('accounts.add_or_edit_signature', user_id=user.id, signature_id=signature.id) }}"><i class="edit icon"></i></a>
            <a class="ui circular button primary icon" href="{{ url_for('admin.signatures.view', signature_id=signature.id) }}"><i class="eye icon"></i></a>
            <a class="ui circular button negative icon" href="{{ url_for('admin.signatures.delete', signature_id=signature.id) }}"><i class="trash icon"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}

</div> {# end div container #}
{% endblock %}
