{% if current_user.is_authenticated %}
  {% extends '/base/default-dashboard.html' %}
{% else %}
  {% extends '/base/default-page.html' %}
{% endif %}

{% block dashboard_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('accounts.index') }}" class="section">Accounts</a>
{% endblock %}

{% block title %}
  {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
<div class="ui container"> {# start div container #} 
  <div class="ui segment">
    <h2 class="ui header">Profile
      {% if current_user.is_authenticated and current_user.id == user.id %}
        <a class="btn-floating btn-large waves-effect waves-light" href="{{ url_for('accounts.edit_profile') }}" title='Edit profile.'><i class="edit icon"></i></a>
      {% endif %}
    </h2>
    <div class="ui grid">

      <div class="four wide column center aligned">
        <div class="ui small image">
          <img src="{{ user.get_picture() }}">
        </div>
      </div>

      <div class="twelve wide column">
        <div>
          <h3 class="ui header">{{ user.first_name }} {{ user.last_name }}</h3>
          <h3 class="ui header">{{ user.first_name_th }} {{ user.last_name_th }}</h3>
          <div class="ui label large">
            <i class="mail icon"></i>
            {{ user.email }} 
          </div>
          <div style="margin-top: .5vh;">
          {% if current_user.is_authenticated and current_user.id == user.id %}
            Role: 
            {% for role in user.roles %}
              <div class="ui label">
                {{ role }}
              </div>
            {% endfor %}
          {% endif %}
          </div>
        </div>
        <div style="margin-top: 2vh;">
          
        </div>
      </div>
    </div>
  </div>
</div> {# end div container #}
{% endblock %}
