{% import '/base/html-renderer.html' as renderer %}

{% if current_user.is_authenticated %}
  {% extends '/base/default-dashboard.html' %}
{% else %}
  {% extends '/base/default-page.html' %}
{% endif %}

{% block dashboard_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('accounts.index') }}" class="section">Accounts</a>
{% endblock %}

{% block title %}
  {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
<div class="ui container">

  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <div class="four wide column">
        <h2 class="ui header">Organization </h2>
      </div>
      <div class="column">
        {% if current_user.get_current_organization() %}
        <a class="ui blue labeled icon button" onclick="showHideForm()">
          Change Organization
          <i class="edit icon"></i>
        </a>
        {% else %}
        <a class="ui labeled icon button link pop" data-content="You are not affiliated with any organization.">
          Change Organization
          <i class="edit icon"></i>
        </a>
        {% endif %}
      </div>
    </div>
    <h3 class="ui blue header">
    {{ current_user.get_current_organization().name }}
    </h3> 
  </div>

  <div class="ui segment" id="ui-select-form" style="display: none">
    <form method="POST" class="ui form">
      {{ form.csrf_token }}
      {{ renderer.render_select(form.current_organization) }}
      <button name="submit" type="submit" class="ui labeled primary icon button"><i class="save icon"></i>Save</button>
      <a class="ui button" onclick="showHideForm()">Close</a>
    </form>
  </div>

  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <div class="four wide column center aligned">
        <h2 class="ui left aligned header">Profile</h2>
        <div class="ui small image">
          <img src="{{ user.get_picture() }}">
        </div>
      </div>

      <div class="column">
        {% if current_user.is_authenticated and current_user.id == user.id %}
          <a class="ui primary labeled icon button" href="{{ url_for('accounts.edit_profile') }}" title='Edit profile.'>Edit Profile <i class="edit icon"></i></a>
        {% endif %}
        <table class="ui single line table">
          <tbody>
            <tr>
              <td class="five wide">
                <div style="color: grey">NAME </div>
                {{ user.first_name }} {{ user.last_name }}
              </td>
              <td >
                <div style="color: grey">NAME_TH </div>
                {{ user.first_name_th + " " + user.last_name_th if user.first_name_th and user.last_name_th else "-" }}
              </td>
            </tr>
            <tr>
              <td>
                <div style="color: grey">EMAIL</div>
                {{ user.email }}
              </td>
              <td>
                <div style="color: grey">ROLE</div> 
                {% for role in user.roles %}
                  <div class="ui label">
                    {{ role }}
                  </div>
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  

  {% if 'endorser' in current_user.roles %}
  <div class="ui segment">
    <a class="ui primary icon button" href="{{ url_for('accounts.add_or_edit_signature', user_id=current_user.id) }}"><i class="signature icon"></i> Add Signature</a>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Date</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for signature in user.get_signatures() %}
        <tr>
          <td>{{ signature.file.filename }}</td>
          <td>{{ signature.created_date }}</td>
          <td>{{ signature.status }}</td>
          <td> 
            <a class="ui circular button primary icon" href="{{ url_for('accounts.add_or_edit_signature', user_id=user.id, signature_id=signature.id) }}"><i class="edit icon"></i></a>
            <a class="ui circular button primary icon" href="{{ url_for('admin.signatures.view', signature_id=signature.id) }}"><i class="eye icon"></i></a>
            <a class="ui circular button negative icon" href="{{ url_for('admin.signatures.delete', signature_id=signature.id) }}"><i class="trash icon"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}

</div> {# end div container #}
{% endblock %}

{% block additional_js %}
<script>
  function showHideForm() {
    $(document.getElementById("ui-select-form")).transition('fade down')
  }
  $('.link.pop')
    .popup()
</script>
{% endblock %}