{% extends "/organizations/home.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
Edit Organization
 {% endblock %}

{% block dashboard_title %}
Edit Organization
 {% endblock %} 

{% block breadcrumbs %}
{{ super() }}
<div class="active section">
  Edit Organization
</div>
{% endblock %} 

{% block content %}
<div class="ui segment">
    <form method="POST" class="ui form">
        {{ form.csrf_token }}
        <div class="field two column">
            <div class="two field">
              {{ renderer.render_field(form.name) }}
            </div>
            <div class="two field">
              {{ renderer.render_field(form.description) }}
            </div>
        </div>
        <button name="create" type="submit" class="ui labeled primary icon button">
          <i class="icon save"></i>Edit
        </button>
    </form>
</div>
{% endblock %}