{% if 'admin' in request.path %}
	{% extends '/admin/organizations/index.html' %}
{% else %}
	{% extends '/base/default-dashboard.html' %}
{% endif %}
{% import '/base/organization-renderer.html' as org_renderer %}

{% block title %}{{ organization.name }}{% endblock %}

{% block dashboard_title %}
{{ organization.name }}
{# <a class="bug popup icon item" data-content="Edit This Page" href="{{ url_for('organizations.edit', organization_id=organization.id) }}">
    <h3><i class="edit icon"></i></h3>
</a>
#}
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{% if 'admin' in request.path %}
		{% if request.endpoint == 'admin.organizations.view' %}
		<div class="active section">{{ organization.name }}</div>
		{% else %}
		<a href="{{ url_for('admin.organizations.view', organization_id=organization.id) }}" class="section">{{ organization.name }}</a>
		<i class="right angle icon divider"></i>
		{% endif %}
	{% else %}
		{% if request.endpoint == 'organizations.view' %}
		<div class="active section">{{ organization.name }}</div>
		{% else %}
		<a href="{{ url_for('organizations.view', organization_id=organization.id) }}" class="section">{{ organization.name }}</a>
		<i class="right angle icon divider"></i>
		{% endif %}
	{% endif %}
{% endblock %}



{% block content %}
{{ org_renderer.render_organization_dashboard_menu_bar(organization) }}

<div class="ui bottom attached segment">
	<div class="ui horizontal basic compact segments">
		<div class="ui very padded segment">
			<div class="ui horizontal grid">

				<h1 class="ui huge header">
					<img src="{{ organization.get_logo_picture() }}" width="120" height="120" style="object-fit: contain;">
					<div class="content">
						{{ organization.name }}
						<div class="sub header">{{ organization.description }}</div>
					</div>
				</h1>
				
				{% if current_user.is_admin_current_organization() %}
					<div class="ui top pointing dropdown " style="height: fit-content">
						<div class="ui tertiary blue button">
							<i class="blue settings icon"></i> SETTINGS 
						</div>
						<div class="menu">
							<a 	href="{{ url_for('organizations.edit', organization_id=organization.id) }}"
								class="item" style="height: fit-content">
								<i class="edit icon"></i>Edit
							</a>
							<a class="item" onclick="$('.icon.longer.modal').modal('show');">
								<i class="fruit-apple icon"></i>Change Logo
							</a>
							<div class="ui icon longer modal">
								<i class="close icon"></i>
								<div class="header">
									Change <span class="ui blue text">{{ organization.name }}</span> Logo
								</div>
								<div class="content">
									<div class="ui grid">
										{% for logo in logos %}
										<form class="form {{logo.id}}" method="POST" action="{{ url_for('organizations.change_organization_logo', organization_id=organization.id, logo_id=logo.id) }}">
											<i class="icons">
												<div class="three wide right aligned column">
													<img class="ui circular image" onclick="selectLogo('{{logo.id}}')" style="cursor: pointer; width: 128px; height: 128px; object-fit: contain"
													src="{{ url_for('organizations.download_logo', logo_id=logo.id, filename=logo.logo_file.filename) }}">
													<i id="{{logo.id}}" class="corner right bottom big {{'green check circle' if logo.marked_as_organization_logo else 'disabled grey circle outline'}} icon"></i>
												</div>
											</i>
										</form>
										{% endfor %}
									</div>	
								</div>
								<div class="actions">
									<button onclick="submitChangeLogo()" class="ui positive labeled icon button">
									<i class="check icon"></i>
									Save
									</button>
									<div class="ui deny button">
									Cancel
									</div>
								</div>
							</div>
						</div>
					</div>
			 	{% endif %}
			</div>
		</div>
		<div class="ui very padded segment">
			<h2 class="ui header">
				<i class="big certificate icon"></i>
				<div class="content">
					<div class="sub header">
						Quota Remaining
					</div>
					{{ organization.quota }}/{{ organization.quota }}
				</div>
			</h2>
		</div>
		<div class="ui very padded segment">
			<h2 class="ui header">
				<i class="big archive icon"></i>
				<div class="content">
					<div class="sub header">
						Class Amount
					</div>
					{{ classes.count() }}
				</div>
			</h2>
		</div>
	</div>
</div>

{% endblock %}

{% block additional_js %}
<script>
	function showDeleteModal(logo_id) {
        logo_id ?  $('.ui.small.modal.'+logo_id).modal('show') : $('.ui.small.modal').modal('hide') 
    ;
    }
	$('.link.pop').popup({
		delay: {
			show: 800,
	  }
	})
	function selectLogo(logo_id) {
		selected = "corner right bottom big green check circle icon"
		unselected = "corner right bottom big disabled grey circle outline icon"

		selected_logo = $('.green.check.circle.icon')
		if (selected_logo.length > 0) {
			selected_logo[0].className = unselected
		}
		document.getElementById(logo_id).className = selected
	}

	function submitChangeLogo() {
		selected_logo = $('.green.check.circle.icon')[0]
		console.log(selected_logo.id)
		console.log($('.form.'+selected_logo.id)[0].submit())
	}
</script>
{% endblock %}
