{% extends '/admin/digital_certificates/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
  {{ current_user.first_name }} {{ current_user.last_name }}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<div class="divider"> / </div>
<div class="active section">{{ "Add Digital Signature" }}</div>
{% endblock %}

{% block content %}
<div class="ui content">
  <div class="ui segment">
    <h2>{{ _("Add Digital Signature") }}</h2>
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      
      {{ renderer.render_select(form.type_) }}

      <h4 class="ui horizontal left aligned divider header">
        <i class="cloud icon"></i>
        Signer API
      </h4>

      <div class="two fields">
        {{ renderer.render_field(form.signer_api.code) }}
        {{ renderer.render_field(form.signer_api.secret) }}
      </div>
      <div class="two fields">
        {{ renderer.render_field(form.signer_api.agent_key) }}
        {{ renderer.render_field(form.signer_api.jwt_secret) }}
      </div>
      {{ renderer.render_field(form.signer_api.api_url) }}


      <h4 class="ui horizontal left aligned divider header">
        <i class="certificate icon"></i>
        Self Signer
      </h4>
      <div style="margin-bottom: 10px;">
        <div class="two fields">
          {{ renderer.render_fileinput(form.digital_certificate_file) }}
          {{ renderer.render_field(form.password) }}
        </div>
        {{ renderer.render_field(form.ca_download_url) }}
      </div>
      <button name="create" type="submit" class="ui primary button">{{ _('Add') if 'edit' not in request.path else _('Edit') }}</button>
    </form>
    {% if form.errors | length > 0 %}
      <div class="ui message negative">
        <ul>
          {% for error, msg in form.errors.items() %}
            <li>{{ error }} {{ msg | join('') }}</li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock content %}

{% block additional_js %}
    <script type="text/javascript">
      $(".attach-file-digital_certificate_file").click(function() {
        $(this).parent().find("#digital_certificate_file").click();
      });

      $('#digital_certificate_file')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('.attach-file-digital_certificate_file', $(e.target).parent()).val(name);
      });
    </script>

{% endblock additional_js %}
