{% extends '/admin/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
  Digital Certificate
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<div class="active section">Digital Certificate</div>
{% endblock %}

{% block additional_js %}
{{ super() }}
<script type="text/javascript">
  $().ready(function(){
  $('.popupmsg')
  .popup()
  }
  );
</script>
{% endblock %}

{% block content %}
  <div class="ui segment">
    <a class="ui primary icon button" href="{{ url_for('admin.digital_certificates.add') }}"><i class="fingerprint icon"></i> Add Digital ID</a>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Date</th>
          <th>CA Download URL</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for certificate in digital_certificates %}
        <tr>
          <td class="popupmsg" data-title="Filename" data-position="top left">{{ certificate.file.filename }}</td>
          <td class="popupmsg" data-title="Date" data-position="top left">{{ certificate.created_date }}</td>
          <td><a target="_blank" class="ui button circular icon primary popupmsg"  href="{{ certificate.ca_download_url }}" data-content="{{ certificate.ca_download_url }}" data-position="right center"><i class="linkify icon"></i></a></td>
          <td class="popupmsg" data-title="Status" data-position="top left">{{ certificate.status.title() }}</td>
          <td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
