{% extends '/base/default-dashboard.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
  Digital Certificate
{% endblock %}

{% block dashboard_title %}
  Digital Certificate
{% endblock %}


{% block breadcrumbs %}
{% if request.endpoint == 'admin.digital_certificates.index' %}
  <div class="active section">Digital Certificate</div>
{% else %}
  <a href="{{ url_for('admin.digital_certificates.index')}}" class="section">Digital Certificate</a>
{% endif %}
{% endblock %}


{% block content %}
<div class="ui segment">
  <a class="ui primary icon button" href="{{ url_for('admin.digital_certificates.add') }}"><i class="fingerprint icon"></i> Add Digital ID</a>
  <table class="ui celled table">
    <thead>
        <tr>
          <th>Filename</th>
          <th>Date</th>
          <th>CA Download URL</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for certificate in digital_certificates %}
        <tr>
          <td class="popupmsg" data-title="Filename" data-position="top left">{{ certificate.file.filename }}</td>
          <td class="popupmsg" data-title="Date" data-position="top left">{{ certificate.created_date }}</td>
          <td><a target="_blank" class="ui button circular icon primary popupmsg"  href="{{ certificate.ca_download_url }}" data-content="{{ certificate.ca_download_url }}" data-position="right center"><i class="linkify icon"></i></a></td>
          <td class="popupmsg" data-title="Status" data-position="top left">{{ certificate.status.title() }}</td>
          <td>
            {% if certificate.status == "active" %}
            <a class="ui grey circular icon popupmsg button" href="{{ url_for('admin.digital_certificates.action', digital_certificate_id=certificate.id, action='deactivate') }}" data-content="Deactivate"><i class="ban icon"></i></a>
            {% else %}
            <a class="ui green circular icon popupmsg button" href="{{ url_for('admin.digital_certificates.action', digital_certificate_id=certificate.id, action='activate') }}" data-content="Activate"><i class="certificate icon"></i></a>
            {% endif %}
            {#
              <a href="{{ url_for('admin.digital_certificates.action', action='delete', digital_certificate_id=certificate.id) }}" class="ui negative circular icon popupmsg button" data-content="Delete"><i class="trash icon"></i></a>
            #}
              
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock content %}
  
  {% block additional_js %}
  {{ super() }}
  <script type="text/javascript">
    $().ready(function(){
    $('.popupmsg')
      .popup()
    }
    );
  </script>
  {% endblock %}