<div class="ui container">
  <div class="ui grid" style="padding: 2em">
    <div class="two column row">
      <div class="column">
        <h6 class="ui inverted header">Certificate System</h6>
        <div>
          <img width="50px" src="{{ url_for('static', filename="images/r202.png") }}">
          <img width="80px" src="{{ url_for('static', filename="images/coe-logo-300px.png") }}">
        </div>
        <p>Develop by R202 research lab </p>
        <p>CoE, Eng, PSU</p>
      </div>
      <div class="column">
        <h5 class="ui inverted header">Connect</h5>
        <ul>
          <li><a href="https://www.coe.psu.ac.th/">CoE, Eng, PSU</a></li>
          <li><a href="https://www.facebook.com/R202CoEPSU/">R202 Laboratory</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
