<div class="ui container">
  <div class="ui grid" style="padding: 2em">
    <div class="two column row">
      <div class="column">
        <h6 class="ui header">Bussaya Project System</h6>
        <img width="50px" src="{{ url_for('static', filename="images/r202.png") }}">
        <p>Develop by R202 research lab </p>
        <p>CoE, Eng, PSU</p>
      </div>
      <div class="column">
        <h5 class="ui header">Connect</h5>
        <ul>
          <li><a href="https://www.coe.psu.ac.th/">CoE, Eng, PSU</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
