
<div class="item">
  <a href="{{ url_for('accounts.index') }}" class="ui image">
    {%- if current_user.get_picture() %}
      <img class="ui avatar image" src="{{ current_user.get_picture() }}">
      {% else %}
      <i class="user icon"></i>
      {% endif -%}
  </a>
  <a style="font-size: small;" href="{{ url_for('accounts.index') }}">{{ current_user.email }}</a>
  <br>
  <a style="font-size: small;" href="{{ url_for('accounts.index') }}">{{ current_user.first_name }} {{ current_user.last_name }}</a>
  <br>
</div>

<a class="item" href="{{ url_for('dashboard.index') }}"><i class="icon dashboard"></i>Dashboard</a>
<a class="item" href="{{ url_for('dashboard.show_my_certificates') }}"><i class="icon certificate"></i>My Certificate</a>
<a class="item" href="{{ url_for('shops.index')}}"><i class="icon shopping cart"></i>Shop</a>

{% set organization = current_user.get_current_organization() %}
{% if organization %}
  <div class="sidebar-heading">
  <i class="icon synagogue"></i>
    Organizations
  </div>
  <a class="item" href="{{ url_for('organizations.view', organization_id=organization.id) }}"><i class="home icon"></i>Home</a>
  <a class="item" href="{{ url_for('organizations.view_users', organization_id=organization.id) }}"><i class="icon user"></i>Users</a>
  <a class="item" href="{{ url_for('organizations.view_classes', organization_id=organization.id) }}"><i class="icon archive "></i>Classes</a>
  <a class="item" href="{{ url_for('organizations.view_templates', organization_id=organization.id) }}"><i class="icon id card outline"></i>Template</a>
  <a class="item" href="{{ url_for('organizations.view_logos', organization_id=organization.id) }}"><i class="brush icon"></i>Logos</a>
{% endif %}

{% if current_user.has_roles(['admin']) %}
  <div class="sidebar-heading">
  <i class="user shield icon"></i>
    Administration
  </div>
  <a class="item" href="{{ url_for('admin.index') }}"><i class="icon user shield"></i>Admin</a>
  <a class="item" href="{{ url_for('admin.classes.index') }}"><i class="icon archive "></i>Classes</a>
  <a class="item" href="{{ url_for('admin.templates.index') }}"><i class="icon id card outline"></i>Template</a>
  <a class="item" href="{{ url_for('admin.certificates.index') }}"><i class="icon certificate file"></i>Certificates</a>
  <a class="item" href="{{ url_for('admin.organizations.index') }}"><i class="icon synagogue"></i>Organizations</a>
  <a class="item" href="{{ url_for('admin.users.index') }}"><i class="icon user"></i>Users</a>
  <a class="item" href="{{ url_for('admin.endorsers.index') }}"><i class="icon user check"></i>Endorsers</a>
  <a class="item" href="{{ url_for('admin.signatures.index') }}"><i class="icon signature file"></i>Signature</a>
  <a class="item" href="{{ url_for('admin.digital_certificates.index') }}"><i class="icon stamp file"></i>Digital Certificate</a>
{% endif %}

<div class="sidebar-heading">
<i class="cog icon"></i>
  Settings
</div>
<a class="item" href="{{ url_for('accounts.index') }}"><i class="address book icon"></i>Account</a>
<a class="item" href="{{ url_for('accounts.logout') }}"><i class="sign out icon"></i>Logout</a>

<style>
  .sidebar-heading {
    color: grey;
    margin: 0.5em 0 0 0.5em;
  }
</style>
