
<div class="ui inverted menu">
  <div class="ui container">
    {# 
    <a class="item" href="{{ url_for('site.index') }}"><img src="{{ url_for('static', filename='images/lotus-full-100px.png') }}" style="padding-right: 5px;"> {{ config.get('APP_TITLE') }}</a>
    #}
    <a class="item" href="{{ url_for('site.index') }}"><img src="{{ url_for('static', filename='images/PSU-logo-white.png') }}" style="padding-right: 5px;"> {{ config.get('APP_TITLE') }}</a>
    <a class="item" href="{{ url_for('accounts.index') }}"><i class="address book icon"></i>Account</a>
    <a class="item" href="{{ url_for('dashboard.index') }}"><i class="dashboard icon"></i>Dashboard</a>
    {#
    <a class="item" href="{{ url_for('tags.index') }}"><i class="tag icon"></i>Tags</a>
    #}
  </div>
</div
