{% extends "/base/default-page.html" %}

{% block content %}

  <div class="ui container">
    <div class="ui segment">
      <h3>Tag: {{ name }}</h3>
      <table class="ui table">
        <tbody>
          {% for project in projects %}
          <tr>
            <td class="ten wide">
              <b>{{ project.name }}</b><br>
              {{ project.name_th }}</b><br>
              {% for tag in project.tags %}
                <a class="ui tiny label" href="{{ url_for('tags.view', name=tag) }}">
                  {{ tag }}
                </a>
              {% endfor %}
            </td>
            <td>
              {%- for s in project.students %}
              <i class="ui user icon"></i>
              <a target="_blank" href="{{ url_for('accounts.profile', user_id=s.id) }}">
                {{ s.first_name }} {{ s.last_name }}
              </a>
              {% if not loop.last %}<br>{% endif %}
              {% endfor -%}
            </td>
            <td class="single line">
              {%- for type_ in ['report', 'poster', 'presentation', 'video', 'git'] %}
                {% if type_ in project.public %}
                  {% set r = project.get_resource(type_) %}
                  {% if r and r.type == 'report' %}
                    <a target="_blank" href="{{ r.link }}"><i class="large pdf file icon link pop" data-content="Report"></i></a>
                  {% elif r and r.type == 'poster' %}
                    <a target="_blank" href="{{ r.link }}"><i class="large image file icon link pop" data-content="Poster"></i></a>
                  {% elif r and r.type == 'presentation' %}
                    <a target="_blank" href="{{ r.link }}"><i class="large powerpoint file icon link pop" data-content="Rresentation"></i></a>
                  {% elif r and r.type == 'video' %}
                    <a target="_blank" href="{{ r.link }}"><i class="large video file icon link pop" data-content="Video"></i></a>
                  {% elif r and r.type == 'git' %}
                    <a target="_blank" href="{{ r.link }}"><i class="large git icon link pop" data-content="Git"></i></a>
                  {% endif %}
                {% endif %}
              {%- endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
