{% extends '/base/default-dashboard.html' %}

{% block additional_js %}
<script>
  $('.ui.big.breadcrumb')[0].parentElement.style.display = "none"
  
  const links = document.querySelectorAll('.blinking.link')
  links.forEach((link, index) => {
    link.setAttribute('onmouseover', 'this.style.color="#2185d0"');
    link.setAttribute('onmouseout', 'this.style.color="black"');
  });

  const secondaryLinks = document.querySelectorAll('.secondary.link')
  secondaryLinks.forEach((link, index) => {
    link.setAttribute('onmouseover', 'this.style.color="#4797d4"');
    link.setAttribute('onmouseout', 'this.style.color="rgba(0,0,0,.4)"');
  });
</script>

{% endblock%}

{% block content %}
  {% set organization = current_user.get_current_organization() %}
  {% if organization %}
      <h2 class="ui header" style="color:#4797d4">
        <img src="{{ organization.get_logo_picture() }}" width="120" height="120" style="object-fit: contain;">
        <div class="content">
          <a class="ui header blinking link" href="{{ url_for('organizations.view', organization_id=organization.id) }}">
            {{ organization.name }}
          </a>
          <div class="sub header">{{ organization.description }}</div>
        </div>        
      </h2>
      <div class="ui divider"></div>

      <div class="ui centered cards">
          <div class="ui card" style="width: 16em; margin-right: 1em">
            <div class="content" style="margin: 0.5em">
              <div class="header">
                <span class="ui big psu-deep-blue text">
                  {{ organization.get_users().count() }}
                </span>
                <i class="  right floated users large icon" style="margin-top: 0.5em"></i>
              </div>
              <div class="meta">
                <span class="ui black large text">
                  Member
                </span>
              </div>
            </div>
            <a class="ui fluid psu-deep-blue button" href="{{ url_for('organizations.view_users', organization_id=organization.id) }}">
              View
            </a>
          </div>

          <div class="ui card" style="width: 16em; margin-right: 1em">
              <div class="content" style="margin: 0.5em">
                <div class="header">
                  <span class="ui big pink text">
                    {{ organization.get_classes().count() }}
                  </span>
                  <i class="right floated archive large icon" style="margin-top: 0.5em"></i>
                </div>
                <div class="meta">
                  <span class="ui black large text">
                    Class
                  </span>
                </div>
              </div>
              <a class="ui fluid pink button" href="{{ url_for('organizations.view_classes', organization_id=organization.id) }}">
                View
              </a>
          </div>

          
          <div class="ui card" style="width: 16em; margin-right: 1em">
            <div class="content" style="margin: 0.5em">
              <div class="header">
                <span class="ui big purple text">
                  {{ organization.get_templates().count() }}
                </span>
                <i class="right floated id card large icon" style="margin-top: 0.5em"></i>
              </div>
              <div class="meta">
                <span class="ui black large text">
                  Template
                </span>
              </div>
            </div>
            <a class="ui fluid purple button" href="{{ url_for('organizations.view_templates', organization_id=organization.id) }}">
              View
            </a>
        </div>

        <div class="ui card" style="width: 16em; margin-right: 1em">
          <div class="content" style="margin: 0.5em">
            <div class="header">
              <span class="ui big violet text">
                {{ organization.get_logos().count() }}
              </span>
              <i class="right floated fruit-apple large icon" style="margin-top: 0.5em"></i>
            </div>
            <div class="meta">
              <span class="ui black large text">
                Logo
              </span>
            </div>
          </div>
          <a class="ui fluid violet button" href="{{ url_for('organizations.view_logos', organization_id=organization.id) }}">
            View
          </a>
        </div>
      </div>
      <br>
  {% endif %}

{% if 'endorser' in current_user.roles %}
  <h1 class="ui horizontal header divider">
    Endorsement
  </h1>
  {% if not endorses_classes %}
    <div class="ui horizontal divider" style="margin: 3em 40% 3em 40%"><span style="color: rgb(172, 172, 172);">Waiting for new endorsement</span> </div>
    {% else %}
    <div class="ui cards">
      {% for class_ in endorses_classes %}
      <div class="green card">
        <div class="content">
          <div class="header">
            <a class="ui header blinking link" href="{{ url_for('classes.view', class_id=class_.id) }}">
              {{ class_.name }}
            </a>
          </div>
          <div class="meta">
            <a href="{{ url_for('organizations.view', organization_id=class_.organization.id) }}" class="secondary link">
              {{ class_.organization.name }}
            </a>
          </div>
          <div class="description">
            {{ class_.description }}
          </div>
        </div>
        <div class="extra content">
          <div class="ui sub header"><span class="ui grey text">Endorser</span></div>
          {% for key, endorser in class_.endorsers.items() %}
          <i class="small user icon"></i>{{ endorser.user.first_name }} {{ endorser.user.last_name }} <br>
        {% endfor %}
        </div>
        <div class="extra content">
            <a class="ui fluid basic green button" href="{{ url_for('classes.endorse', class_id=class_.id) }}">
              Endorse
            </a>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}
  

  
  <h2 class="ui horizontal header divider">
    Last Endorsement
  </h2>
  {% if not endorsed_classes %}
  <div class="ui horizontal divider" style="margin: 3em 36% 3em 36%">
    <span style="color: rgb(172, 172, 172);">
      you don't have any endorsement
    </span> 
  </div>
  {% else %}
  <div class="ui cards">
    {% for class_ in endorsed_classes %}
    {% set job = endorsed_jobs[ class_.id| string] %}
    {% if job %}
    <div class="{{ 'red' if job.get_status(refresh=True) == 'failed' }}
                {{ 'yellow' if job.get_status(refresh=True) in ['queued', 'started']}}
                {{ '' if job.get_status(refresh=True) == 'finished'}}
                card">
    {% else %}
    <div class="green card">
    {% endif %}
      <div class="content">
        <div class="header">
          <a class="ui header blinking link" href="{{ url_for('classes.view', class_id=class_.id) }}">
            {{ class_.name }}
          </a>
        </div>
        <div class="meta">
          <a class="secondary link" href="{{ url_for('organizations.view', organization_id=class_.organization.id) }}">
            {{ class_.organization.name }}
          </a>
        </div>
        <div class="description">
          {{ class_.description }}
        </div>
      </div>
      <div class="extra content">
        <div class="ui sub header"><span class="ui grey text">Endorser</span></div>
        {% for key, endorser in class_.endorsers.items() %}
        <i class="small user icon"></i>{{ endorser.user.first_name }} {{ endorser.user.last_name }} <br>
      {% endfor %}
      </div>
      <div class="extra left aligned content">
          <div class="ui sub header">Status</div>
          
          {% if job %}
            {% if job.get_status(refresh=True) in ["queued", "started"] %}
              <div class="ui label yellow" >{{ job.get_status(refresh=True).title() }}</div>
            {% elif job.get_status(refresh=True) in ["failed"] %}
              <div class="ui label red" >{{ job.get_status(refresh=True).title() }}</div>
            {% else %}
              <div class="ui orange label" >{{ job.get_status(refresh=True).title() }}</div>
            {% endif %}
          {% else %}
            <div class="ui label green">Completed</div>
          {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
{% endif %}

{% endblock %}
