{%extends '/base/default-dashboard.html' %}

{% block content %}
  {% set organization = current_user.get_current_organization() %}
  {% if organization %}
  
  <div class="ui segments">

    <div class="ui segment">
      <h1 class="ui huge header" style="margin-left: 0.5em">
        <img src="{{ organization.get_logo_picture() }}" width="120" height="120" style="object-fit: contain;">
        <div class="content">
          {{ organization.name }}
          <div class="sub header">{{ organization.description }}</div>
        </div>
      </h1>
    </div>

    <div class="ui segment">
      <div class="ui cards">

          <div class="ui card" style="width: 14em">
            <div class="content" style="margin: 0.5em">
              <div class="header">
                <span class="ui big blue text">
                  240
                </span>
                <i class="right floated users large icon" style="margin-top: 0.5em"></i>
              </div>
              <div class="meta">
                <span class="ui black large text">
                  Member
                </span>
              </div>
            </div>
            <a class="ui fluid blue button" href="{{ url_for('organizations.view_users', organization_id=organization.id) }}">
              View
            </a>
          </div>

          <div class="ui card" style="width: 14em">
              <div class="content" style="margin: 0.5em">
                <div class="header">
                  <span class="ui big green text">
                    120
                  </span>
                  <i class="right floated archive large icon" style="margin-top: 0.5em"></i>
                </div>
                <div class="meta">
                  <span class="ui black large text">
                    Class
                  </span>
                </div>
              </div>
              <a class="ui fluid green button" href="{{ url_for('organizations.view_classes', organization_id=organization.id) }}">
                View
              </a>
          </div>

          
          <div class="ui card" style="width: 14em">
            <div class="content" style="margin: 0.5em">
              <div class="header">
                <span class="ui big orange text">
                  240
                </span>
                <i class="right floated id card large icon" style="margin-top: 0.5em"></i>
              </div>
              <div class="meta">
                <span class="ui black large text">
                  Template
                </span>
              </div>
            </div>
            <a class="ui fluid orange button" href="{{ url_for('organizations.view_templates', organization_id=organization.id) }}">
              View
            </a>
        </div>

        <div class="ui card" style="width: 14em">
          <div class="content" style="margin: 0.5em">
            <div class="header">
              <span class="ui big purple text">
                120
              </span>
              <i class="right floated fruit-apple large icon" style="margin-top: 0.5em"></i>
            </div>
            <div class="meta">
              <span class="ui black large text">
                Logo
              </span>
            </div>
          </div>
          <a class="ui fluid purple button" href="{{ url_for('organizations.view_logos', organization_id=organization.id) }}">
            View
          </a>
      </div>


      </div>
    </div>

  </div>
      

    
  
  {% endif %}

    <div class="ui segment">
      <h3>Endorsement</h3>

      {% if endorses_classes and endorses_classes | length == 0 %}
        <div class="ui header">Waiting for new endorsement</div>
      {% else %}
      <table class="ui table celled">
        <thead>
          <tr>
            <th>Class</th>
            <th>Endorser</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          {% for class_ in endorses_classes %}
            <tr>
              <td>
                <a href="{{ url_for('classes.view', class_id=class_.id) }}">
                  {{ class_.name }}
                </a>
              </td>
              <td>
                {% for key, endorser in class_.endorsers.items() %}
                  {{ endorser.user.first_name }} {{ endorser.user.last_name }},
                {% endfor %}
              </td>
              <td>
                <a class="ui primary button" href="{{ url_for('classes.endorse', class_id=class_.id) }}">
                  Endorse
                </a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

  {% if endorsed_classes and endorsed_classes | length > 0 %}
    <div class="ui segment">
      <h3>Last Endorsement</h3>
      <table class="ui table celled">
        <thead>
          <tr>
            <th>Class</th>
            <th>Endorser</th>
            <th>Status</th>

          </tr>
        </thead>
        <tbody>
          {% for class_ in endorsed_classes %}
            <tr>
              <td>
                <a href="{{ url_for('classes.view', class_id=class_.id) }}">
                  {{ class_.name }}
                </a>
              </td>
              <td>
                {% for key, endorser in class_.endorsers.items() %}
                  {{ endorser.user.first_name }} {{ endorser.user.last_name }},
                {% endfor %}
              </td>
              <td>
                {% set job = endorsed_jobs[ class_.id| string] %}
                {% if job %}
                  {% if job.get_status(refresh=True) in ["queued", "started"] %}
                    <div class="ui label yellow" >{{ job.get_status(refresh=True).title() }}</div>
                  {% elif job.get_status(refresh=True) in ["failed"] %}
                    <div class="ui label red" >{{ job.get_status(refresh=True).title() }}</div>
                  {% else %}
                    <div class="ui orange label" >{{ job.get_status(refresh=True).title() }}</div>
                  {% endif %}
                {% else %}
                  <div class="ui label green">Completed</div>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock %}
