{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
{% if request.endpoint == 'admin.templates.index' %}
  <div class="active section">Templates</div>
{% else %}
  <a href="{{ url_for('admin.templates.index')}}" class="section">Templates</a>
{% endif %}
{% endblock %}

{% block dashboard_title %}
Templates
{% endblock %}

{% block content %}
  <div class="ui labeled icon menu">
    <a href="{{ url_for('admin.templates.create_or_edit') }}" class="item"><i class="add icon"></i>Add</a>
  </div>


  <div style="margin-top: 5ex;">
    <div class="ui link cards">
      {% for template in templates %}
      <div class="card">


        <div class="image">
          <img src="{{ url_for('admin.templates.download', template_id=template.id, filename=template.file.filename) }}"/>
        </div>


        <!-- <div class="image">
          <img src="{{ url_for('admin.templates.thumbnail_show', template_id=template.id, thumbnail=template.thumbnail.filename) }}"/>
        </div> -->

        <div class="content">
          
          <div class="header">{{ template.name }}</div>

          <div class="meta">
            <a>{{ template.tags | join(', ') }}</a>
          </div>

          <div class="description">
            {{ template.description }}
          </div>

          <div class="owner"> 
            <b>Owner : </b> {{ template.owner.first_name }} {{ template.owner.last_name }}
          </div>

        </div>
              <div class="ui content" >
              <div class="ui grid">
              
              <div class="left aligned twelve wide column">
                <button class="ui primary button">
                  Use
                </button>
                <button class="ui button">
                  Share
                </button>
              </div>
              
                <div class="middle aligned four wide column" style="text-align:right;">
                <div class="ui dropdown">
                  <i class="cog icon"></i>
                  <div class="menu">
                    <div class="item">
                      <a href="{{ url_for('admin.templates.create_or_edit', template_id=template.id) }}"><i class="edit icon"></i>Edit</a>
                    </div>
                      <div class="item">
                      <a href="{{ url_for('admin.templates.view', template_id=template.id) }}"><i class="eye icon"></i>View</a>
                    </div>
                    <div class="item">
                      <a href="{{ url_for('admin.templates.delete', template_id=template.id) }}"><i class="trash icon"></i>Delete</a>
                    </div>
                  </div>
                </div>
                </div>
                </div>
              
            
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
