{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block breadcrumbs %}
{% if request.endpoint == 'admin.templates.index' %}
  <div class="active section">Templates</div>
{% else %}
  <a href="{{ url_for('admin.templates.index')}}" class="section">Templates</a>
{% endif %}
{% endblock %}

{% block dashboard_title %}
Templates
{% endblock %}

{% block content %}
  <div class="ui labeled icon menu">
    <a href="{{ url_for('admin.templates.create_or_edit') }}" class="item"><i class="add icon"></i>Add</a>
  </div>


  <div style="margin-top: 5ex;">
    <div class="ui link cards">
      {% for template in templates %}
      <div class="card">


        <div class="image">
          <img src="{{ url_for('admin.templates.download', template_id=template.id, filename=template.file.filename) }}" width="800" height="600"/>
        </div>

        <div class="content">
          
          <div class="header">{{ template.name }}</div>

          <div class="meta">
            <a>{{ template.tags | join(', ') }}</a>
          </div>

          <div class="description">
            {{ template.description }}
          </div>

          <div class="owner"> 
            <b>Owner : </b> {{ template.owner.first_name }} {{ template.owner.last_name }}
          </div>

        </div>
              <div class="ui content" >
              <div class="ui grid">
              
              <div class="left aligned twelve wide column">
                <a class="ui primary button" onclick="showUseTemplate('{{ template.id }}')">
                  Use 
                </a>
                {% if template.owner == current_user %}
                <button class="ui button">
                  {{ template.control.status.title() }}
                </button>
                {% endif %}
              </div>
              
                <div class="middle aligned four wide column" style="text-align:right;">
                <div class="ui dropdown">
                  <i class="cog icon"></i>
                  <div class="menu">
                    <div class="item">
                      <a href="{{ url_for('admin.templates.create_or_edit', template_id=template.id) }}"><i class="edit icon"></i>Edit</a>
                    </div>
                      <div class="item">
                      <a href="{{ url_for('admin.templates.view', template_id=template.id) }}"><i class="eye icon"></i>View</a>
                    </div>
                    <div class="item">
                      <a href="{{ url_for('admin.templates.delete', template_id=template.id) }}"><i class="trash icon"></i>Delete</a>
                    </div>
                  </div>
                </div>
                </div>
                </div>
        </div>
      </div>
        <div class="ui modal {{template.id}}">
          <div class="header">Use <span class="ui blue text">{{ template.name }}</span> template</div>
          <div class="content">
              <form method="POST" class="ui form">
                {{ form.csrf_token }}
          
                {{ renderer.render_field(form.name) }}
                {{ renderer.render_field(form.appreciate_text) }}
                <div class="two fields">
                  {{ renderer.render_select(form.group) }}
                  {{ renderer.render_select(form.classes) }}
                </div>
                
                <input type="hidden" name="template_id" value="{{template.id}}">
                <button name="create" type="submit" class="ui button primary">Use</button>
              </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block additional_js %}
<script>
  function showUseTemplate(template_id) {
    console.log(template_id)
      $('.ui.modal.'+template_id)
        .modal('show')
    ;
  }
</script>
{% endblock %}