{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block breadcrumbs %}
  <div class="section active">Endorsers</div>
{% endblock %}

{% block dashboard_title %}
Endorsers
{% endblock %}

{% block content %}
  <div class="ui section">
    <form method="POST" action="{{ url_for('admin.endorsers.grant') }}">
      {{ form.hidden_tag() }}
      {{ renderer.render_multiple_select(form.users) }}
      <div class="field" style="margin-top: 1ex;">
        <button type="submit" class="ui button primary">Submit</button>
      </div>
    </form>
  </div>

  <div style="margin-top: 2em;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Organization</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
      {% for user in endorsers %}
        <tr>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.get_current_organization().name }}</td>
          <td class="single line">
            <a onclick="showDeleteModal('{{user.id}}')" class="ui circular icon negative button" ><i class="trash icon"></i></a>
          </td>

          <div class="ui small modal {{user.id}}">
            <div class="header">Delete Endorser</div>
            <div class="content">
              <h4 class="ui headers" >
                Are you sure you want to delete <span class="ui red text">{{ user.first_name }} {{ user.last_name }}</span> 
              </h4>
              <a class="ui right floated negative button" style="margin-bottom: 1em;" href="{{ url_for('admin.endorsers.delete', user_id=user.id) }}">
                Delete</i>
              </a>
              <button class="ui right floated button" onclick="showDeleteModal()">Cancel</button>
            </div>
          </div>

        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block additional_js %}
<script>
    function showDeleteModal(user_id) {
        user_id ?  $('.ui.small.modal.'+user_id).modal('show') : $('.ui.small.modal').modal('hide') 
    ;
    }
</script>
{% endblock %}