{% extends '/admin/classes/view.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    $('.ui.dropdown')
      .dropdown();
  $(".attach-file-participant_file").click(function() {
    $(this).parent().find("#participant_file").click();
  });

  $('#participant_file')
    .on('change', function(e) {
      var name = e.target.files[0].name;
      $('.attach-file-participant_file', $(e.target).parent()).val(name);
    });

	</script>
{% endblock %}

{% block dashboard_title %}
    Add Participant From File
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <div class="active section">Add Participant From File</div>

{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui segment">
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ renderer.render_fileinput(form.participant_file) }}
      <button name="create" type="submit" class="ui button primary">{{ 'Add' if 'add' in request.path else 'Edit' }}</button>
    </form>
  </div>
</div>
{% endblock %}
