{% extends '/admin/classes/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    $('.ui.dropdown')
      .dropdown();
	</script>
{% endblock %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Participant to {{ form.name.data }}
  {% else %}
    Add Participant
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  {% if 'edit' in request.path %}
    <div class="active section">Edit Participant</div>
  {% else %}
    <div class="active section">Add Participant</div>
  {% endif %}

{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui segment">
    <form method="POST" class="ui form">
      {{ form.csrf_token }}

      <div class="two fields">
      {{ renderer.render_select(form.participant_id) }}
      {{ renderer.render_select(form.group) }}
      </div>
      <div class="two fields">
      {{ renderer.render_select(form.first_name) }}
      {{ renderer.render_select(form.last_name) }}
      </div>

      <button name="create" type="submit" class="ui button primary">{{ 'Add' if 'add' in request.path else 'Edit' }}</button>
    </form>
  </div>
</div>

<div class="ui container" style="margin-top: 2em;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Group</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in class_.participants %}
        <tr>
          <td>{{ participant.participant_id }}</td>
          <td>{{ participant.first_name }} {{ participant.last_name }}</td>
          <td>{{ participant.get_group_display() }}</td>
          <td>
            <a class="ui circular icon negative button" href="{{ url_for('admin.classes.delete_participant', class_id=class_.id, participant_id=participant.participant_id) }}"><i class="trash icon"></i></a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
