{% extends '/admin/classes/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    $('.ui.dropdown')
      .dropdown();
	</script>
{% endblock %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Class: {{ form.name.data }}
  {% else %}
    Create Class
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  {% if 'edit' in request.path %}
    <div class="active section">Edit Class: {{ form.name.data }}</div>
  {% else %}
    <div class="active section">Create Class</div>
  {% endif %}

{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui segment">
    <form method="POST" class="ui form">
      {{ form.csrf_token }}

      <div class="three fields">
      {{ renderer.render_select(form.endorser_id) }}
      {{ renderer.render_select(form.user) }}
      {{ renderer.render_select(form.position) }}
      </div>

      <button name="create" type="submit" class="ui button primary">{{ 'Add' if 'add' in request.path else 'Edit' }}</button>
    </form>
  </div>
</div>

<div class="ui container" style="margin-top: 2em;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      {% for endorser in class_.endorsers %}
        <tr>
          <td>{{ endorser.get_endorser_id_display() }}</td>
          <td>{{ endorser.user.first_name }} {{ endorser.user.last_name }}</td>
          <td>{{ endorser.position }}</td>
          <td>
            <a class="ui circular icon negative button" href="{{ url_for('admin.classes.delete_endorser', class_id=class_.id, endorser_id=endorser.endorser_id) }}"><i class="trash icon"></i></a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
