{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block dashboard_title %}Classes: {{ class_.name }}{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  {% if request.path == url_for('admin.classes.view', class_id=class_.id) %}
  <div class="active section">{{ class_.name }}</div>
  {% else %}
    <a class="section" href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
  {% endif %}
{% endblock %}


{% block content %}

<div class="ui container">
	<div class="ui segment">
		<div>
			<b>Description:</b> {{ class_.description }}
    </div>
    {#
		<div>
			<b>Code:</b> {{ class_.code }}
		</div>
		<div>
			<b>Limited Class:</b> {{ class_.limited }}
		</div>
		{% if class_.limited_enrollment %}
		<div>
			<b>Limited Method:</b> {{ class_.limited_enrollment.method }}
		</div>
		<div>
			<b>Limited Grantees:</b> {{ class_.limited_enrollment.grantees | join(', ') }}
    </div>
	  {% endif %}
    #}
		<div>
			<b>Started Date:</b> {{ class_.started_date }}
		</div>
		<div>
			<b>Ended Date:</b> {{ class_.ended_date }}
		</div>

		<div>
			<b>Tag:</b> {{ class_.tags | join(', ') }}
    </div>
    
    <div>
      <b>Endorsers</b> 
      {% for end in class_.endorsers %}
        {{ end.user.first_name }} {{ end.user.last_name }}, 
      {% endfor %}
    </div>
    
  </div>
</div>

<div class="ui container" style="margin-top: 1em;">
    <div class="ui labeled icon menu">
    {% if class_.owner == current_user %}
      <a class="item" href="{{ url_for('admin.classes.create_or_edit', class_id=class_.id) }}"><i class="edit icon"></i>Edit</a>
      <a class="item" href="{{ url_for('admin.classes.add_or_edit_certificate_template', class_id=class_.id) }}"><i class="certificate icon"></i>Certificate Template</a>
      <a class="item" href="{{ url_for('admin.classes.add_or_edit_endorser', class_id=class_.id) }}"><i class="user tie icon"></i>Endorser</a>
      <a class="item" href="{{ url_for('admin.classes.add_or_edit_participant', class_id=class_.id) }}"><i class="user graduate icon"></i>Participant</a>
      <a class="item" href="{{ url_for('admin.classes.prepair_certificate', class_id=class_.id) }}"><i class="stamp file icon"></i>Prepair Certificate</a>
      <a class="item" href="{{ url_for('admin.classes.export_certificate', class_id=class_.id) }}"><i class="export file icon"></i>Prepair Certificate</a>
    {% endif %}
    </div>
</div>

<div class="ui container" style="margin-top: 1em;">
		<h2>Paticipants</h2>
		<table class="ui celled table">
			<thead>
				<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Group</th>
						<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				{% for participant in class_.participants %}
          <tr>
            <td>
              {{ participant.participant_id }}
            </td>
            <td>
              {{ participant.title }}  {{ participant.first_name }} {{ participant.last_name }}
            </td>
            <td> {{ participant.get_group_display() }} </td>
          <td>
            <a class="ui icon button circular primary" href="{{ url_for('classes.render_certificate', class_id=class_.id, participant_id=participant.participant_id, extension='png') }}" target="_blank"><i class="certificate icon"></i></a>
            {% set certificate = class_.get_certificate(participant.participant_id) %}
            {% if certificate %}
            <a class="ui icon button circular green" href="{{ url_for('certificates.view', certificate_id=certificate.id) }}" target="_blank"><i class="certificate icon"></i></a>
            {% endif %}
            {#
            {% if class_.owner == current_user %}
              <a class="ui icon button circular primary" href="{{ url_for('admin.classes.set_assignment_time', class_id=class_.id, assignment_id=assignment.id) }}"><i class="clock icon"></i></a>
            {% endif %}
            {% if class_.owner == current_user or current_user in class_.contributors or class_.is_teaching_assistant(current_user) %}
              <a class="ui icon button circular primary" href="{{ url_for('scoreboards.show_assignment_scores', class_id=class_.id, assignment_id=assignment.id) }}"><i class="award icon"></i></a>
              <a class="ui icon button circular primary" href="{{ url_for('admin.classes.list_assignment_users', class_id=class_.id, assignment_id=assignment.id) }}"><i class="eye icon"></i></a>
            {% endif %}
            #}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
            	
</div>
{% endblock %}
