{% extends '/organizations/classes.html' %}

{% import '/base/error-handler.html' as eh %}
{% set organization = class_.organization %}

{% block dashboard_title %}Classes: {{ class_.name }}{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if request.path == url_for('admin.classes.view', class_id=class_.id) %}
  <i class="right angle icon divider"></i>
  <div class="active section">{{ class_.name }}</div>
  {% else %}
  <i class="right angle icon divider"></i>
  <a class="section" href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a> 
  <i class="right angle icon divider"></i>
  {% endif %}
{% endblock %}


{% block content %}

<div class="">
  <div class="ui segment">
    <div class="ui large right floated segment">
      <a class="item" href="{{ url_for('admin.classes.create_or_edit', class_id=class_.id) }}"><i class="edit icon"></i>Edit Class</a>
    </div>
    <div>
      <b>Organization:</b> {{ class_.organization.name }}
    </div>
		<div>
      <b>Printed Name:</b> {{ class_.printed_name }}
    </div>
		<div>
			<b>Description:</b> {{ class_.description }}
    </div>
    {#
		<div>
			<b>Code:</b> {{ class_.code }}
		</div>
		<div>
			<b>Limited Class:</b> {{ class_.limited }}
		</div>
		{% if class_.limited_enrollment %}
		<div>
			<b>Limited Method:</b> {{ class_.limited_enrollment.method }}
		</div>
		<div>
			<b>Limited Grantees:</b> {{ class_.limited_enrollment.grantees | join(', ') }}
    </div>
	  {% endif %}
    #}
		<div>
			<b>Started Date:</b> {{ class_.started_date }}
		</div>
		<div>
			<b>Ended Date:</b> {{ class_.ended_date }}
		</div>

		<div>
			<b>Tag:</b> {{ class_.tags | join(', ') }}
    </div>
    
    <div>
      <b>Endorsers:</b> 
      {% for key, end in class_.endorsers.items() %}
        {{ end.user.first_name }} {{ end.user.last_name }}, 
      {% endfor %}
    </div>
    {% if class_.instructors %}
    <div>
      <b>Instructor:</b> 
      {{ class_.instructors | join(', ') }}
    </div>
  {% endif %}
  </div>
</div>

<div class="ui segment">
  <div class="ui horizontal basic segments">
    <div class="ui segment">
      <div><b>Prepare Certificates</b></div>
      <div>
        {% if jobs['prepare certificates'] %}
          {% if jobs['prepare certificates'].get_status(refresh=True) in ["queued", "started"] %}
            <div class="ui label yellow" >{{ jobs['prepare certificates'].get_status(refresh=True).title() }}</div>
          {% else %}
            <div class="ui orange label" >{{ jobs['prepare certificates'].get_status(refresh=True).title() }}</div>
          {% endif %}
        {% else %}
          <div class="ui label">Stop</div>
        {% endif %}
      </div>
    </div>
    <div class="ui segment">
      <div><b>Export Certificates</b></div>
        {% if jobs['export certificates'] %}
          {% if jobs['export certificates'].get_status(refresh=True) in ["queued", "started"] %}
            <div class="ui label yellow" >{{ jobs['export certificates'].get_status(refresh=True).title() }}</div>
          {% elif jobs['export certificates'].get_status(refresh=True) in ["failed"] %}
            <div class="ui red label" >{{ jobs['export certificates'].get_status(refresh=True).title() }}</div>
          {% else %}
            <div class="ui orange label" >{{ jobs['export certificates'].get_status(refresh=True).title() }}</div>
          {% endif %}
        {% else %}
          <div class="ui label">Stop</div>
        {% endif %}
        {% if job_data['export certificates'].exists() %}
          <a target="_blank" class="ui button primary icon" href="{{ url_for('admin.classes.download', class_id=class_.id, filename=job_data['export certificates'].name) }}"><i class="ui download icon"></i> Download</a>
        {% endif %}
    </div>
    <div class="ui segment">
      <div><b>Export Certificates without Signature</b></div>
        {% if jobs['export certificates without signature'] %}
          {% if jobs['export certificates without signature'].get_status(refresh=True) in ["queued", "started"] %}
            <div class="ui label yellow" >{{ jobs['export certificates without signature'].get_status(refresh=True).title() }}</div>
          {% elif jobs['export certificates without signature'].get_status(refresh=True) in ["failed"] %}
            <div class="ui label red" >{{ jobs['export certificates without signature'].get_status(refresh=True).title() }}</div>
          {% else %}
            <div class="ui orange label" >{{ jobs['export certificates without signature'].get_status(refresh=True).title() }}</div>
          {% endif %}
        {% else %}
          <div class="ui label">Stop</div>
        {% endif %}
        {% if job_data['export certificates without signature'].exists() %}
          <a target="_blank" class="ui button primary icon" href="{{ url_for('admin.classes.download', class_id=class_.id, filename=job_data['export certificates without signature'].name) }}"><i class="ui download icon"></i> Download</a>
        {% endif %}
    </div>
  </div>
</div>

<div class="">
  <div class="ui big four item stackable tabs menu">
    <div class="ui pointing dropdown link item">
      <i class="certificate icon"></i>
      Certificate
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ url_for('admin.classes.add_or_edit_certificate_template', class_id=class_.id) }}"><i class="certificate icon"></i>Select Certificate Template</a>
        <a class="item" href="{{ url_for('admin.classes.prepare_certificate', class_id=class_.id) }}"><i class="stamp file icon"></i>Prepair Certificate</a>
      </div>
    </div>

    
    <a class="item" href="{{ url_for('admin.classes.add_or_edit_endorser', class_id=class_.id) }}"><i class="user tie icon"></i>Endorser</a>
      

    <div class="ui pointing dropdown link item">
      <i class="user graduate icon"></i>
      Participant
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ url_for('admin.classes.add_or_edit_participant', class_id=class_.id) }}"><i class="user graduate icon"></i>Add Participant</a>
        <a class="item" href="{{ url_for('admin.classes.add_participant_from_file', class_id=class_.id) }}"><i class="user graduate file icon"></i>Add Participant From File</a>
      </div>
    </div>

    <div class="ui pointing dropdown link item">
      <i class="export file icon"></i>
      Export
      <i class="dropdown icon"></i>
      <div class="menu">
      <a class="item" href="{{ url_for('admin.classes.export_participant_data', class_id=class_.id) }}" target="_blank"><i class="list icon"></i>Export Participant Data</a>
      <a class="item" href="{{ url_for('admin.classes.export_certificate', class_id=class_.id) }}"><i class="export file icon"></i>Export Certificate</a>
      <a class="item" href="{{ url_for('admin.classes.export_certificate', class_id=class_.id, signature='off') }}"><i class="export file icon"></i>Export Certificate Without Sign</a>
      <a class="item" href="{{ url_for('admin.classes.export_certificate_url', class_id=class_.id) }}" target="_blank"><i class="export globe icon"></i>Export Certificate URL</a>
      </div>
    </div>

  </div>

</div>

<!-- <div style="margin-top: 1rem;">
  <div style="width:auto;overflow:auto">
    <pre><div class="ui compact icon menu" >
      <a class="item" href="{{ url_for('admin.classes.add_or_edit_certificate_template', class_id=class_.id) }}"><i class="certificate icon"></i>Certificate Template</a>
      <a class="item" href="{{ url_for('admin.classes.add_or_edit_endorser', class_id=class_.id) }}"><i class="user tie icon"></i>Endorser</a>
      <a class="item" href="{{ url_for('admin.classes.add_or_edit_participant', class_id=class_.id) }}"><i class="user graduate icon"></i>Participant</a>
      <a class="item" href="{{ url_for('admin.classes.add_participant_from_file', class_id=class_.id) }}"><i class="user graduate file icon"></i>Participant From File</a>
      <a class="item" href="{{ url_for('admin.classes.prepare_certificate', class_id=class_.id) }}"><i class="stamp file icon"></i>Prepair Certificate</a>
      <a class="item" href="{{ url_for('admin.classes.export_participant_data', class_id=class_.id) }}" target="_blank"><i class="list icon"></i>Export Participant Data</a>
      <a class="item" href="{{ url_for('admin.classes.export_certificate', class_id=class_.id) }}"><i class="export file icon"></i>Export Certificate</a>
      <a class="item" href="{{ url_for('admin.classes.export_certificate', class_id=class_.id, signature='off') }}"><i class="export file icon"></i>Export Certificate Without Sign</a>
      <a class="item" href="{{ url_for('admin.classes.export_certificate_url', class_id=class_.id) }}" target="_blank"><i class="export globe icon"></i>Export Certificate URL</a>
    </div></pre>
  </div>
</div> -->

<div class="" style="margin-top: 1em;">
  <h2>Paticipants</h2>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Order</th>
        <th>ID</th>
        <th>Common ID</th>
        <th>Name</th>
        <th>Group</th>
        <th>Certificate Status</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
        {% for key, participant in class_.participants.items() | sort(attribute='1.participant_id') %}
            {% set certificate = class_.get_certificate(participant.id) %}
            <tr>
              <td>{{ loop.index }}</td>
            <td>{{ participant.id }}</td>
            <td>
              {{ participant.common_id }}
            </td>
            <td>
              {{ participant.name }}
            </td>
            <td> {{ participant.get_group_display() }} </td>
            <td>
              {% if certificate %}
                {{ certificate.status.title() }}
              {% else %}
                None
              {% endif %}
            </td>
          <td>
            <a class="ui icon link pop button circular primary" href="{{ url_for('classes.render_certificate', class_id=class_.id, participant_id=participant.id, extension='png') }}" target="_blank" data-content="open"><i class="certificate icon"></i></a>
            {% if certificate and certificate.status not in ['prepare', 'purge'] %}
            <a class="ui icon link pop button circular green" href="{{ url_for('certificates.view', certificate_id=certificate.id) }}" target="_blank" tile data-content="view"><i class="certificate icon"></i></a>
            {% endif %}
            {% if certificate %}
            <a class="ui icon link pop button circular grey" href="{{ url_for('admin.classes.rebuild_certificate',class_id=class_.id, certificate_id=certificate.id) }}" data-content="rebuild"><i class="undo icon"></i></a>
            <a class="ui icon link pop button circular negative" href="{{ url_for('admin.classes.purge_certificate',class_id=class_.id, certificate_id=certificate.id) }}" data-content="purge"><i class="ban icon"></i></a>
            {% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
            	
</div>
{% endblock %}

{% block additional_js %}
<script>
  $('.icon.link.pop')
    .popup()
</script>
{% endblock%}
