{% extends '/admin/signatures/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  {{ super() }}

  <script type="text/javascript">
  $('.ui.dropdown')
      .dropdown();

  $(".attach-file-signature_file").click(function() {
    $(this).parent().find("#signature_file").click();
  });

  $('#signature_file')
    .on('change', function(e) {
      var name = e.target.files[0].name;
      $('.attach-file-signature_file', $(e.target).parent()).val(name);
    });
	</script>
{% endblock %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Signature: {{ signature.owner.first_name }} {{ signature.owner.last_name }}
  {% else %}
    Create Signature
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <div class="divider"> / </div>
  {% if 'edit' in request.path %}
    <div class="active section">Edit Signature: {{ signature.owner.first_mname }} {{ signature.owner.last_name }}</div>
  {% else %}
    <div class="active section">Create Signature</div>
  {% endif %}

{% endblock %}

{% block content %}
<div class="">
  <div class="ui segment">
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="two fields">
      {{ renderer.render_select(form.user) }}
      {{ renderer.render_fileinput(form.signature_file) }}
      </div>
      <button name="create" type="submit" class="ui button primary">{{ 'Create' if 'create' in request.path else 'Edit' }}</button>
    </form>
    {% if form.errors | length > 0 %}
      <div class="ui message negative">
        <ul>
        {% for error, msg in form.errors.items() %}
          <li> {{ error }} {{ msg | join('') }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


  </div>
</div>

{% endblock %}
