{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
{% if request.endpoint == 'admin.signatures.index' %}
  <div class="active section">Signatures</div>
{% else %}
  <a href="{{ url_for('admin.signatures.index')}}" class="section">Signatures</a>
{% endif %}

{% endblock %}

{% block _title %}
Signature
{% endblock %}

{% block dashboard_title %}
Signature
{% endblock %}

{% block content %}
  <div class="ui labeled icon menu">
    <a href="{{ url_for('admin.signatures.create_or_edit') }}" class="item"><i class="add icon"></i>Add</a>
  </div>

  <div style="margin-top: 1ex;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Owner</th>
          <th>Created Date</th>
          <th>Updated Date</th>
          <th>Last Update</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
    {% for signature in signatures %}
        <tr>
          <td>
            {{ signature.owner.first_name }} {{ signature.owner.last_name }}
          </td>
          <td>
            {{ signature.created_date }}
          </td>
          <td>
            {{ signature.updated_date }}
          </td>
          <td>
            {{ signature.last_updated_by.first_name }} {{ signature.last_updated_by.last_name }}
          </td>
          <td class="single line">
            <a class="ui circular button primary icon" href="{{ url_for('admin.signatures.create_or_edit', signature_id=signature.id) }}"><i class="edit icon"></i></a>
            <a class="ui circular button primary icon" href="{{ url_for('admin.signatures.view', signature_id=signature.id) }}"><i class="eye icon"></i></a>
            <a onclick="showDeleteModal('{{signature.id}}') " class="ui circular button negative icon" ><i class="trash icon"></i></a>

            <div class="ui small modal {{signature.id}}">
              <div class="header">Delete Signature</div>
              <div class="content">
                <h4 class="ui headers" >
                  Are you sure you want to delete <span class="ui red text">{{ signature.owner.first_name }} {{ signature.owner.last_name }}</span> 's signature?
                </h4>
                <a class="ui right floated negative button" style="margin-bottom: 1em;" href="{{ url_for('admin.signatures.delete', signature_id=signature.id) }}">
                  Delete</i>
                </a>
                <button class="ui right floated button" onclick="showDeleteModal()">Cancel</button>
              </div>
            </div>

          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
  


{% endblock %}

{% block additional_js %}
<script>
    function showDeleteModal(signature_id) {
        signature_id ?  $('.ui.small.modal.'+signature_id).modal('show') : $('.ui.small.modal').modal('hide') 
    ;
    }
</script>
{% endblock %}