{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('admin.certificates.index') }}" class="section">Certificate</a>
{% endblock %}

{% block _title %}
Certificate
{% endblock %}

{% block dashboard_title %}
Certificate
{% endblock %}

{% block content %}

  <div style="margin-top: 1ex;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Order</th>
          <th>Class</th>
          <th>Issued Date</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
    {% for class_ in classes %}
      <tr>
        <td>{{ loop.index  }}</td>
        <td>
          <a href="{{ url_for('admin.certificates.view_in_class', class_id=class_.id) }}">
            {{ class_.name }}
          </a>
        </td>
        <td>
          {{ class_.issued_date }}
        </td>
        <td class="single line">
        </td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
