{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('admin.certificates.index') }}" class="section">Certificate</a>
{% endblock %}

{% block _title %}
Certificate
{% endblock %}

{% block dashboard_title %}
Certificate
{% endblock %}

{% block content %}

  <div style="margin-top: 1ex;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Order</th>
          <th>ID</th>
          <th>Owner</th>
          <th>Class</th>
          <th>Issued Date</th>
          <th>Signed Date</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
    {% for certificate in certificates %}
      <tr>
        <td>{{ loop.index  }}</td>
        <td>{{ certificate.id }}</td>
        <td>
          {{ certificate.get_participant().name }}
        </td>
        <td>
          <a href="{{ url_for('admin.classes.view', class_id=certificate.class_.id) }}">{{ certificate.class_.name }}</a>
        </td>
        <td>
          {{ certificate.issued_date }}
        </td>
        <td>
          {% if certificate.signed_date %}
            {{ certificate.signed_date }}
          {% endif %}
        </td>
        <td class="single line">
          <a class="ui circular button negative icon" href="{{ url_for('admin.certificates.delete', certificate_id=certificate.id) }}"><i class="trash icon"></i></a>
        </td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
