{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('admin.certificates.index') }}" class="section">Certificate</a>
{% endblock %}

{% block _title %}
Certificate
{% endblock %}

{% block dashboard_title %}
Certificate
{% endblock %}

{% block content %}

  <div style="margin-top: 1ex;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Order</th>
          <th>ID</th>
          <th>Owner</th>
          <th>Class</th>
          <th>Issued Date</th>
          <th>Signed Date</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
    {% for certificate in certificates %}
      <tr>
        <td>{{ loop.index  }}</td>
        <td>{{ certificate.id }}</td>
        <td>
          {{ certificate.get_participant().name }}
        </td>
        <td>
          <a href="{{ url_for('admin.classes.view', class_id=certificate.class_.id) }}">{{ certificate.class_.name }}</a>
        </td>
        <td>
          {{ certificate.issued_date }}
        </td>
        <td>
          {% if certificate.signed_date %}
            {{ certificate.signed_date }}
          {% endif %}
        </td>
        <td class="single line">
          <a onclick="showDeleteModal('{{ certificate.id }}')" class="ui circular button negative icon" ><i class="trash icon"></i></a>

          <div class="ui small modal {{certificate.id}}">
            <div class="header">Delete Certificate</div>
            <div class="content">
              <h4 class="ui headers" >
                Are you sure you want to delete <span class="ui red text">{{ certificate.get_participant().name  }}</span> 's certificate?
              </h4>
              <a class="ui right floated negative button" style="margin-bottom: 1em;" href="{{ url_for('admin.certificates.delete', certificate_id=certificate.id) }}">
                Delete</i>
              </a>
              <button class="ui right floated button" onclick="showDeleteModal()">Cancel</button>
            </div>
          </div>

        </td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}

{% block additional_js %}
<script>
  function showDeleteModal(certificate_id) {
    certificate_id ?  $('.ui.small.modal.'+certificate_id).modal('show') : $('.ui.small.modal').modal('hide') 
  ;
  }
</script>
{% endblock %}
