{% extends "/admin/organizations/index.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
{{ 'Create' if 'create' in request.path else 'Edit' }}
 Organization
 {% endblock %}

{% block dashboard_title %}
{{ 'Create' if 'create' in request.path else 'Edit' }}
 Organization
 {% endblock %} 

{% block breadcrumbs %}

{{ super() }}
{% if request.endpoint == 'admin.organizations.create_or_edit' %}
<div class="active section">
{{ 'Create' if 'create' in request.path else 'Edit' }} Organization
</div>
{% else %}
<a href="{{ url_for('admin.organizations.create_or_edit') }}" class="section">
{{ 'Create' if 'create' in request.path else 'Edit' }} Organization
</a>
<div class="divider"> / </div>
{% endif %}

{% endblock %} 

{% block content %}
<div class="ui segment">
    {# <h2>{{ 'Create' if 'create' in request.path else 'Edit' }} Organization</h2> #}
    <form method="POST" class="ui form">
        {{ form.csrf_token }}
        <div class="field two column">
            <div class="two field">
              {{ renderer.render_field(form.name) }}
            </div>
            <div class="two field">
              {{ renderer.render_field(form.description) }}
            </div>
            <div class="fields">
              {{ renderer.render_field(form.quota) }}
            </div>
        </div>

        <div style="margin-top: 2%;">
          
            {% if 'create' in request.path  %}
            <button name="create" type="submit" class="ui labeled primary icon button">
              <i class="icon save"></i>Submit
            </button>
            {% elif 'edit' in request.path  %}
            <a onclick="$('.modal.edit').modal('show')" class="ui labeled primary icon button">
              <i class="icon save"></i>Save
            </a>
            {% endif %}

            <div class="ui small modal edit">
              <div class="header">Edit Organization</div>
              <div class="content">
                <h4 class="ui headers" >
                  Are you sure you want to edit <span class="ui primary text">{{ organization.name }}</span> organization?
                </h4>
                <button class="ui right floated primary button" onclick="$('.ui.form').submit()" style="margin-bottom: 1em;">
                  Edit
                </button>
                <button class="ui right floated button" onclick="$('.modal.edit').modal('hide')">Cancel</button>
              </div>
            </div>

        </div>
    </form>
</div>
{% endblock %}