{% extends "/admin/index.html" %}

{% block title %}Organizations{% endblock %}

{% block dashboard_title %}Organizations{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'admin.organizations.index' %}
<div class="active section">Organizations</div>
{% else %}
<a href="{{ url_for('admin.organizations.index') }}" class="section">Organizations</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}



{% block content %}
    <div class="ui segment">
        <table class="ui table celled">
            <thead>
              <tr class="left aligned">
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for organization in organizations %}
                <tr>
                    <td>
                        <a href="{{ url_for('admin.organizations.view', organization_id=organization.id) }}">
                            {{ organization.name }}
                        </a>
                    </td>
                    <td>{{ organization.description }}</td>
                    <td>
                        <a class="ui primary icon button" href="{{ url_for('admin.organizations.create_or_edit', organization_id=organization.id) }}">
                            <i class="edit icon"></i>
                        </a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a class="ui primary button" href="{{ url_for('admin.organizations.create_or_edit') }}">
            <i class="icon plus"></i>Create</a>
        </div>
    </div>

{% endblock %}
