{% extends "/admin/index.html" %}

{% block title %}Organizations{% endblock %}

{% block dashboard_title %}Organizations{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'admin.organizations.index' %}
<div class="active section">Organizations</div>
{% else %}
<a href="{{ url_for('admin.organizations.index') }}" class="section">Organizations</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}



{% block content %}
    <div class="ui segment">
        <table class="ui table celled">
            <thead>
              <tr class="left aligned">
                <th>Name</th>
                <th>Description</th>
                <th>Quota</th>
                {# {% if current_user.has_roles(["superadmin"]) %} #}
                <th>Action</th>
                {# {% endif %} #}
              </tr>
            </thead>
            <tbody>
                {% for organization in organizations %}
                <tr>
                    <td>
                        <a href="{{ url_for('admin.organizations.view', organization_id=organization.id) }}">
                            {{ organization.name }}
                        </a>
                    </td>
                    <td>{{ organization.description }}</td>
                    <td>{{ organization.number_of_uses }}/{{ organization.quota }}</td>
                    {# {% if current_user.has_roles(["superadmin"]) %} #}
                    <td>
                        <a class="ui primary icon button" href="{{ url_for('admin.organizations.create_or_edit', organization_id=organization.id) }}">
                            <i class="edit icon"></i>
                        </a>
                        <a class="ui negative icon button" onclick="showDeleteModal('{{organization.id}}')">
                            <i class="trash icon"></i>
                        </a>
                    </td>
                    <div class="ui small modal {{organization.id}}">
                      <div class="header">Delete Organization</div>
                      <div class="content">
                          <h4 class="ui headers" >
                              Are you sure you want to delete <span class="ui red text">{{ organization.name }}</span> organization?
                          </h4>
                          <a class="ui right floated negative button" style="margin-bottom: 1em;" href="{{ url_for('admin.organizations.delete', organization_id=organization.id) }}">
                              Delete</i>
                          </a>
                          <button class="ui right floated button" onclick="showDeleteModal()">Cancel</button>
                      </div>
                    </div>
                    {# {% endif %} #}
                  </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {# {% if current_user.has_roles(["superadmin"]) %} #}
                <a class="ui primary button" href="{{ url_for('admin.organizations.create_or_edit') }}">
                <i class="icon plus"></i>Create</a>
            {# {% endif %} #}
        </div>
    </div>

{% endblock %}

{% block additional_js %}
<script>
    function showDeleteModal(organization_id) {
        organization_id ?  $('.ui.small.modal.'+organization_id).modal('show') : $('.ui.small.modal').modal('hide') 
    ;
    }
</script>
{% endblock %}
