{% extends '/organizations/view.html' %}
{% import '/base/organization-renderer.html' as org_renderer %}

{% block title %}{{ organization.name }}{% endblock %}

{% block dashboard_title %}
{{ organization.name }}
{# <a class="bug popup icon item" data-content="Edit This Page" href="{{ url_for('organizations.edit', organization_id=organization.id) }}">
    <h3><i class="edit icon"></i></h3>
</a>
#}
{% endblock %}

{% set is_admin_URL = '' %}
{% if 'admin' in request.path %}
    {% set is_admin_URL = 'admin.' %}
{% endif %}

{% block breadcrumbs %}
    {{ super() }}
        {% if request.endpoint == is_admin_URL + 'organizations.view_logos' %}
            <div class="active section">Logos</div>
        {% else %}
            <a href="{{ url_for(is_admin_URL + 'organizations.view_logos', organization_id=organization.id) }}" class="section">Logos</a>
            <i class="right angle icon divider"></i>
        {% endif %}
{% endblock %}

{% block content %}
{{ org_renderer.render_organization_dashboard_menu_bar(organization) }}

<h2 class="ui header">
    Logos
        <a class="ui primary tertiary icon right floated large button" href="{{ url_for(is_admin_URL + 'organizations.add_or_edit_logo', organization_id=organization.id) }}">
            <i class="add icon"></i> Add Logo
        </a>
</h2>
<div class="ui divider"></div>
<div class="ui basic segment">
<div class="scroll">
        <div class="ui cards">
        {% for logo in logos %}
            <div class="card">
                <div class="ui image">
                    <img style="height: 128px; object-fit:contain" src="{{ url_for('organizations.download_logo', organization_id=organization.id, logo_id=logo.id, filename=logo.logo_file.filename, thumbnail='thumbnail') }}" />
                </div>

                <div class="ui content">
                    <div class="header">{{ logo.logo_name }}</div>
                    <div class="owner"><b>Owner : </b>{{ logo.uploaded_by.first_name }} {{ logo.uploaded_by.last_name }}</div>

                    {% if current_user.has_organization_roles("admin", "staff") %}
                        <div class="right floated">
                            <a onclick="showDeleteModal('{{logo.id}}') "><i class="red trash circular colored icon"></i></a>
                            <a href="{{ url_for(is_admin_URL + 'organizations.add_or_edit_logo', organization_id=organization.id, logo_id=logo.id) }}"><i class="blue pen circular colored icon"></i></a>
                        </div>
                        <div class="ui small modal {{logo.id}}">
                            <div class="header">Delete Logo</div>
                            <div class="content">
                                <h4 class="ui headers" >
                                    Are you sure you want to delete <span class="ui red text">{{ logo.logo_name }}</span> logo?
                                </h4>
                                <a class="ui right floated negative button" style="margin-bottom: 1em;" href="{{ url_for(is_admin_URL + 'organizations.delete_logo', organization_id=organization.id, logo_id=logo.id)}}">
                                    Delete</i>
                                </a>
                                <button class="ui right floated button" onclick="showDeleteModal()">Cancel</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>	

    {% if not logos %}
    <div class="ui horizontal divider" style="margin: 3em auto 0 auto; max-width: 30vw; color: grey">
        No logos in this organization.
    </div>
{% endif %}
</div>
	
{% endblock %}

{% block additional_js %}
<script>
    function showDeleteModal(logo_id) {
        logo_id ?  $('.ui.small.modal.'+logo_id).modal('show') : $('.ui.small.modal').modal('hide') 
    ;
    }
	$('.link.pop').popup({
		delay: {
			show: 800,
	  }
	})
</script>
{% endblock %}
