{% extends '/admin/organizations/view.html' %}
{% import '/base/organization-renderer.html' as org_renderer %}

{% block title %}{{ organization.name }}{% endblock %}

{% block dashboard_title %}
{{ organization.name }}
{# <a class="bug popup icon item" data-content="Edit This Page" href="{{ url_for('organizations.edit', organization_id=organization.id) }}">
    <h3><i class="edit icon"></i></h3>
</a>
#}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
{% if request.endpoint == 'admin.organizations.view_templates' %}
<div class="active section">Templates</div>
{% else %}
<a href="{{ url_for('admin.organizations.view_templates', organization_id=organization.id) }}" class="section">Templates</a>
<i class="right angle icon divider"></i>
{% endif %}
{% endblock %}

{% block content %}
{{ org_renderer.render_organization_dashboard_menu_bar(organization) }}

<h2 class="ui header">
    Templates
    <a class="ui primary tertiary icon right floated large button" href="">
        <i class="add icon"></i> Buy Template
    </a>
</h2>
<div class="ui divider"></div>
<div class="ui basic segment">
<div class="scroll">
        <div class="ui cards">
            {% for template in templates %}
                <div class="card" style="width: 128px;">
                    <div class="ui image">
                        {% if template.thumbnail_file %} 
                        <div class="image">
                        <img src="{{ url_for('admin.templates.download_thumbnail', template_id=template.id, filename=template.thumbnail_file.filename) }}"/>
                        </div>
                        {% else %}
                        <div class="image">
                        <img src="{{ url_for('admin.templates.download_template', template_id=template.id, filename=template.template_file.filename) }}"/>
                        </div>
                        {% endif %}
                    </div>

                    <div class="ui content">
                        <div class="header">{{ template.name }}</div>
                        <div class="meta">
                        <a>{{ template.tags | join(', ') }}</a>
                        </div>
                        <div class="description">
                            {{ template.description }}
                        </div>
                        <div class="owner"><b>Owner : </b>{{ template.owner.first_name }} {{ template.owner.last_name }}</div>
                        <div class="right floated">
                            <a><i class="trash icon"></i></a>
                        </div>
                        <div class="ui content" >
                            <div class="ui grid">
                            <div class="left aligned twelve wide column">
                                <a class="ui primary button" onclick="showUseTemplate('{{ template.id }}')">
                                Use 
                                </a>
                                {% if template.owner == current_user %}
                                <a 
                                class=" 
                                {{'green' if template.share_status.status == 'publish'}} 
                                {{'teal' if template.share_status.status == 'shared'}} 
                                ui right labeled icon button"
                                href="{{ url_for('admin.templates.set_share_status', template_id=template.id) }}" 
                                style="width: fit-content; ">
                                {{ template.share_status.get_status_display()  }}
                                <i class="edit icon"></i>
                                </a>
                                {% endif %}
                            </div>
                            <div class="middle aligned four wide column" style="text-align:right;">
                                <div class="ui dropdown">
                                    <i class="large cog icon"></i>
                                    <div class="menu">
                                        <div class="item">
                                            <a href="{{ url_for('admin.templates.create_or_edit', template_id=template.id) }}"><i class="edit icon"></i>Edit</a>
                                        </div>
                                            <div class="item">
                                            <a href="{{ url_for('admin.templates.view', template_id=template.id) }}"><i class="eye icon"></i>View</a>
                                        </div>
                                        <div class="item">
                                            <a onclick="showDeleteModal('{{template.id}}')" ><i class="trash icon"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="ui small modal delete {{template.id}}">
                        <div class="header">Delete Template</div>
                        <div class="content">
                          <h4 class="ui headers" >
                            Are you sure you want to delete <span class="ui red text">{{ template.name }}</span> template?
                          </h4>
                          <a class="ui right floated negative button" style="margin-bottom: 1em;" href="{{ url_for('admin.templates.delete', template_id=template.id) }}">
                            Delete</i>
                          </a>
                          <button class="ui right floated button" onclick="showDeleteModal()">Cancel</button>
                        </div>
                      </div>
              
                      <div class="ui modal use {{template.id}}">
                        <div class="header">Use <span class="ui blue text">{{ template.name }}</span> template</div>
                        <div class="content">
                            <form method="POST" class="ui form">
                              {{ form.csrf_token }}
                        
                              {{ renderer.render_field(form.name) }}
                              {{ renderer.render_field(form.appreciate_text) }}
                              <div class="two fields">
                                {{ renderer.render_select(form.group) }}
                                {{ renderer.render_select(form.classes) }}
                              </div>
                              
                              <input type="hidden" name="template_id" value="{{template.id}}">
                              <button name="create" type="submit" class="ui button primary">Use</button>
                            </form>
                        </div>
                      </div>

                </div>
            {% endfor %}
        </div>
    </div>	
</div>
	
{% endblock %}

{% block additional_js %}
<script>
    function showUseTemplate(template_id) {
        $('.ui.modal.'+template_id)
          .modal('show')
      ;
    }

    function showDeleteModal(logo_id) {
        logo_id ?  $('.ui.small.modal.'+logo_id).modal('show') : $('.ui.small.modal').modal('hide') 
    ;
    }

	$('.link.pop').popup({
		delay: {
			show: 800,
	  }
	})
</script>
{% endblock %}