{% extends '/admin/organizations/view.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}{{ organization.name }}{% endblock %}

{% block breadcrumbs %}
{{ super() }}
Users
{% endblock %}



{% block content %}
<h2 class="ui header">
	View Users
</h2>

<div class="ui divider"></div>

<div class="ui secondary  menu">
	<a class="{{ 'active' if role == 'all' or not role }} item" href="{{ url_for('admin.organizations.view_users', organization_id=organization.id, role='all') }}">
	  All
	</a>
	<a class="{{ 'active' if role == 'staff' }} item" href="{{ url_for('admin.organizations.view_users', organization_id=organization.id, role='staff') }}">
	  Staff
	</a>
	<a class="{{ 'active' if role == 'admin' }} item" href="{{ url_for('admin.organizations.view_users', organization_id=organization.id, role='admin') }}">
	  Admin
	</a>
	<a class="{{ 'active' if role == 'endorser' }} item" href="{{ url_for('admin.organizations.view_users', organization_id=organization.id, role='endorser') }}">
	  Endorser
	</a>
</div>

<table class="ui compact celled single line table">
	<thead>
			<tr>
				<th class="one wide"></th>
				<th class="three wide">Name</th>
				<th class="two wide">Role</th>
				<th class="three wide">Added by</th>	
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% set index = namespace(value=0) %}
			{% for org_user_role in organization_user_roles %}
			<tr class="top aligned">
				{% set index.value = index.value + 1 %}
				<td>{{ index.value }}</td>
				<td>{{ org_user_role.user.get_fullname() }}</td>
				<td>{{ org_user_role.get_role_display() }}</td>
				<td>{{ 	org_user_role.added_by.get_fullname() }}</td>
				<td>
					<a class="ui link pop red icon circular button" data-content="delete"
					href="">
					<i class="trash icon"></i>
					</a>
					<a class="ui primary icon circular button" onclick="showRoleSelectionForm('{{ org_user_role.user.id }}')">
						<i class="user icon"></i>
					</a>
					<div id="{{org_user_role.user.id}}" style="display: none;" class="ui accordion {{ org_user_role.user.id }}" >
						<form method="post" class="ui form" action="{{ url_for('admin.organizations.view_users', organization_id=organization.id, user_role_id=org_user_role.id) }}">
							{{ form.csrf_token() }}
							{{ form.role(class_="ui compact selection small dropdown super", **{"onchange":"this.form.submit()"}) }}
							{#
								{{ form.role(class_="ui compact selection small dropdown super") }}
							#}
							{# 
								<button type="submit" class="ui small green icon button"><i class="save icon"></i></button>
							#}
						</form>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block additional_js %}
<script>
	function showRoleSelectionForm(id) {
		console.log(document.getElementById(id).style['display'])
		if (document.getElementById(id).style['display'] == "none") {
			document.getElementById(id).style['display'] = "inline-block"
		} else {
			document.getElementById(id).style['display'] = "none"
		}
	}
</script>
{% endblock %}