{% extends '/admin/organizations/index.html' %}

{% block title %}{{ organization.name }}{% endblock %}

{% block dashboard_title %}
{{ organization.name }}
{# <a class="bug popup icon item" data-content="Edit This Page" href="{{ url_for('organizations.edit', organization_id=organization.id) }}">
    <h3><i class="edit icon"></i></h3>
</a>
#}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
{% if request.endpoint == 'admin.organizations.view' %}
<div class="active section">{{ organization.name }}</div>
{% else %}
<a href="{{ url_for('admin.organizations.view', organization_id=organization.id) }}" class="section">{{ organization.name }}</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}



{% block content %}
<table class="ui definition table">
	<tbody>
		<tr>
			<td class="three wide column">Organization</td>
			<td>{{ organization.name }}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{ organization.description }}</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>Quota Remaining</td>
			<td>{{ organization.remaining_quota }}/{{ organization.quota }}</td>
		</tr>
		<tr>
	</tbody>
</table>

<div class="ui divider"></div>
<a class="ui green labeled icon button" href="{{ url_for('admin.organizations.view_users', organization_id=organization.id, role='all') }}">
	<i class="users icon"></i>Users
</a>
<a class="ui green labeled icon button" href="{{ url_for('admin.organizations.view_users', organization_id=organization.id, role='admin') }}">
	<i class="users icon"></i>Admins
</a>
<a class="ui green labeled icon button" href="{{ url_for('admin.organizations.view_users', organization_id=organization.id, role='endorser') }}">
	<i class="users icon"></i>Endorsers
</a>

<h3 class="ui header">Logos</h3>
<div class="ui divider"></div>
<a class="ui primary labeled icon button" href="{{ url_for('admin.organizations.add_logo', organization_id=organization.id) }}"><i class="add icon"></i>Add Logo</a>

<div style="margin-top: 1rem;">
	
		
		
		<div class="ui cards">
		{% for logo in logos %}
		<div class="card" style="width: 15=em;">

			<div class="small image">
				<img src="{{ url_for('admin.organizations.show_logo', organization_id=organization.id, filename=logo.id) }}" />
			</div>

			<div class="ui content">
				<div class="header">{{ logo.logo_name }}</div>
				<div class="owner"><b>Uploaded by : </b>{{ logo.uploaded_by.first_name }} {{ logo.uploaded_by.last_name }}</div>
			</div>

		</div>
		{% endfor %}
		</div>
		
		
	
</div>

<h3 class="ui header">Classes</h3>
<div class="ui divider"></div>
<a class="ui primary labeled icon button" href="{{ url_for('admin.classes.create_or_edit', organization_id=organization.id) }}"><i class="add icon"></i>Add Class</a>
{% if classes %}
<div style="margin-top: 1ex;">
	<table class="ui celled table">
	<thead>
		<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Operation</th>
		</tr>
	</thead>
	<tbody>
	{% for class_ in classes %}
		<tr>
		<td>
			<a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
		</td>
		<td>
			{{ class_.description }}
		</td>
		<td class="single line">
			<a class="ui circular button primary icon" href="{{ url_for('admin.classes.create_or_edit', class_id=class_.id) }}"><i class="edit icon"></i></a>
			<a class="ui circular button primary icon" href="{{ url_for('admin.classes.view', class_id=class_.id) }}"><i class="eye icon"></i></a>
			<a class="ui circular button primary icon" href="{{ url_for('admin.classes.copy', class_id=class_.id) }}"><i class="copy icon"></i></a>
			<a class="ui circular button negative icon" href="{{ url_for('admin.classes.delete', class_id=class_.id) }}"><i class="trash icon"></i></a>
		</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
{% endif %}
{% endblock %}
